<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/mycontroller.js"></script>
    <script type="text/javascript" src="controllers/displayFilter.js"></script>
    <script type="text/javascript" src="controllers/customFilter.js"></script>
    <script type="text/javascript" src="controllers/builtInFilter.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <style>
        img {
            width: 80px;
            height: 70px;
        }

        ul {
            list-style-type: none
        }
    </style>

    <!--These above three files(app.js, controllers folder and angular.min.js) are the basic requirements to get started with an angularjs app-->
    <title>Angular App</title>
</head>

<body>
    <div>
        <h3 class="login">
            <a href="templates/form.html">Login</a>
        </h3>

    </div>
    <div ng-controller="date" class="currentdate">
        <p>
            Current Date: {{ theDate | date: 'longDate' }}
        </p>

    </div>
    <div class="name" ng-controller="appController">
        <p>{{firstName}}</p>
        <!--The controller brings in the dynamic output from the mycontrollerjs file-->
        <p>{{lastName}}</p>

        <a href="#" ng-click="setName('Victor', 'Ajani')">Set Name</a>
        <!--This is how we access our scope functions
        They can only be accessed within this div since the controller is instantiated here-->
    </div>

    <div ng-controller="DivideCtrl">
        <div>
            Enter Value 1:
            <input type="text" ng-model="numberData.value1" />
        </div>

        <div>
            Enter Value 2:
            <input type="text" ng-model="numberData.value2" />
        </div>

        <button class="btn" ng-click=divide(numberData.value1,numberData.value2)>
            <!-- ng-click is an angular directive that fires a function once the button is clicked-->
            Calculate {{ numberData.value1 }} * {{ numberData.value2 }}
        </button>

        <div class="col-sm" ng-controller="OuterCtrl">
            {{ val3.name }}
            <!-- <input type="text" ng-model="val3" /> -->
            <!--Dot notation tells angular to look up the heirarchy and see if there are any 
            objects with a dot notation-->
            <div ng-controller="InnerCtrl">
                {{ val3.name }}
                <!--Since the above child object(within InnerCtrl) is being called within a parent div, it also has access to the binding-->
                <input type="text" ng-model="val3.name" />
            </div>

        </div>

        <div ng-controller="grocery">
            <div>
                <p>Filter by Type</p>
                <!--As usual, ng-model will bring in the data that you configured in the controller $scope-->
                <select ng-model="selectedFoodGroup">
                    <option value="fruits">Fruits</option>
                    <option value="vegetables">Vegetables</option>
                    <option value="dairy">Dairy</option>
                    <option value="grain">Grain</option>
                    <option value="">All</option>
                </select>
            </div>
            <div class="container">
                <ul ng-repeat="food in foodList | filter: selectedFoodGroup">
                    <li>
                        <div>
                            <img class="row" ng-src="{{ food.location }}" />
                            <div>
                                <h3>{{ food.name }}</h3>
                                <p> Group: {{ food.group }}</p>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <div ng-controller="CarCtrl">
            <!--From within this div only, we can access the `cars` and `description variables
                within the controller file.`-->
            <h2>Description: {{ description }}</h2>
            <br>
            <p>{{ cars }}</p>

        </div>
        <div ng-controller="controllerA" class="sharedStuff">
            <p>{{ value }}</p>
            <p>{{ sharedValue.sharedMessage }}</p>
            <!--Here we are calling the sharedMessage property which is available in the Share factory method-->
        </div>

        <div ng-controller="controllerB" class="sharedStuff">
            <p>{{ value }}</p>
            <p>{{ sharedValue.sharedMessage }}</p>
            <input type="text" ng-model=" sharedValue.sharedMessage" />

        </div>

        <div ng-controller="myCtrl">
            {{ value }}

        </div>
        <br>
        <div ng-controller="realCtrl as aCtrl">
            <!--This format allows us to access data without using $scope in the controller file-->
            {{ aCtrl.value }}
        </div>

        <!--Section below demonstrates how we can implement filtering in angularJS-->
        <section class="filters" ng-controller="dfilters">
            <p> {{ description }} </p>

            <ul ng-repeat="stuff in displayFilter">
                <!--Above I am bringing in the data from the displayFilter controller
                "stuff" is just a property I invented and then I use dot notation to grab the values from the controller file. Pretty neat.-->

                <li>Fruit name: {{ stuff.type | uppercase }} </li>
                <li>Specials Available on: {{ stuff.specialsDate }}</li>
                <li>The price is: {{ stuff.dollarPrice | currency }}</li>

                <!-- The method after the | is a directive to angular like a regular vanilla js
                method to manipulate the data in a certain way. In the first, the data will be outputted in uppercase etc -->

            </ul>
        </section>
        <!--Creating custom filters-->
        <div ng-controller="customFilterController">
            <h3> {{ description }}</h3>

            <ul ng-repeat="fruit in specialsList">
                <!-- The ng-repeat directive, is basically like a js loop that iterates over the objects and does what you want with each one. Again the data after the pipe  is referencing my controller function. You can use a js method or even call a function! -->
                <li> Type: {{ fruit.species | dashes }}</li>
                <li> Type: {{ fruit.originCountry | addBold }}</li>

            </ul>

        </div>
        <!--Using orderBy and limitTo filters-->

        <div ng-controller="filters">
            <ul ng-repeat="nation in countryInfo | orderBy: 'capital'">
                <strong>
                    <em>Country: </em>
                </strong>{{ nation.capital }}, {{ nation.name }}
                <br>
                <strong>Population: {{ nation.population }}</strong>
            </ul>

        </div>

    </div>

</body>

</html>