/* html {
    background-color: blanchedalmond;
} */

.sharedStuff  {
    font-weight: bold;
    text-align: center;
}

 .name {
    font-weight: bold;
    text-align: center;
}

.currentdate {
    /* margin-top: 10px; */
    float: right;
}